<div *ngIf="fitMode == false" class="fix-height-100">
  <drag-scroll class="fix-height-100" style="width:100%">
    <img [src]="previewUrl">
  </drag-scroll>
</div>
<div *ngIf="fitMode == true" class="fix-height-100">
  <img [src]="previewUrl" class="image-vfit">
</div>

<ng-template #pain>
  <div class="d-flex flex-column app-preview" style="height:100%;">
    <ngb-accordion #acc="ngbAccordion" activeIds="general-info, labellist" class="flex-grow-1 ngb-accordion">
      <ngb-panel id="general-info">
        <ng-template ngbPanelTitle>
          Profile <span class="badge badge-pill badge-light">9</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div #contentInfo>
            <div>
              <div class="btn-group d-flex flex-wrap" style="min-width:100%" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Left</button>
                <button type="button" class="btn btn-secondary flex-grow-1">Middle</button>
                <button type="button" class="btn btn-secondary">Right</button>
              </div>
            </div>
            <div>{{previewContent?.name}}</div>
            <div>
              表示回数:{{previewContent?.readableCount}}
              Avg.Time<br>
              MixTagMode<br>
            </div>

          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="labellist" title="Simple2">
        <ng-template ngbPanelContent>
          <div *ngIf="previewCategoryLabels?.length > 0" #categoryTagList>
            <div class="btn-group d-flex flex-wrap" style="min-width:100%" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary">Left</button>
              <button type="button" class="btn btn-secondary flex-grow-1">Middle</button>
              <button type="button" class="btn btn-secondary">Right</button>
            </div>

            <nb-list class="list-group">
              <nb-list-item *ngFor="let label of previewCategoryLabels" class="nb-list-item list-group-item btn-group d-flex justify-content-between">
                <button class="nb-list-item-button btn btn-xs btn-outline-primary" (click)="showCriteria(label)">
                  {{label.id}} {{label.name}}
                </button>
              </nb-list-item>
            </nb-list>
          </div>
          <div *ngIf="previewCategoryLabels?.length <= 0">
            ラベルは設定されていません。
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Simple3">
        <ng-template ngbPanelContent>
          <div>
            <!--SAMPLE-->
            <button class="btn btn-xs btn-outline-secondary btn-icon" type="button" (click)="changeFittingMode()">モード変更</button>
            <button class="btn btn-xs btn-outline-secondary btn-icon" type="button" (click)="refresh()">REF</button>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="PropertyForm">
        <ng-template ngbPanelContent>
          <form>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Item1</label>
              <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
              </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Item2</label>
              <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
              </div>
            </div>
          </form>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Caption">
        <div>
          <textarea class="form-control" rows="3"></textarea>
        </div>
      </ngb-panel>
    </ngb-accordion>
    <div #pagenation class="mt-auto">
      <div class="input-group">
        <div class="input-group-prepend">
          <button class="btn btn-xs btn-outline-secondary btn-icon" type="button" (click)="prevItem()"><i class="nb-skip-backward-outline"></i></button>
        </div>
        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" [value]="currentPageNo + '/' + totalPageNo">
        <div class="input-group-append">
          <button class="btn btn-xs btn-outline-secondary btn-icon" type="button" (click)="nextItem()"><i class="nb-skip-forward-outline"></i></button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
