<div class="fit-height">
  <img [src]="previewUrl" class="image-vfit">
</div>

<ng-template #pain>
  <div class="d-flex flex-column" style="height:100%;">
    <div #contentInfo>
      <div>{{previewContent?.Name}}</div>
      <div>
        表示回数:{{previewContent?.ReadableCount}}
      </div>
    </div>
    <div #categoryTagList>
      <button *ngFor="let label of previewCategoryLabels" class="btn btn-dark btn-xs">
        {{label.Id}} {{label.Name}}
      </button>
    </div>
    <div #pagenation class="mt-auto">
      <div class="input-group">
        <div class="input-group-prepend">
          <button class="btn btn-xs btn-outline-secondary btn-icon" type="button" (click)="prevItem()"><i class="nb-skip-backward-outline"></i></button>
        </div>
        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" [value]="currentPageNo + '/' + totalPageNo">
        <div class="input-group-append">
          <button class="btn btn-xs btn-outline-secondary btn-icon" type="button" (click)="nextItem()"><i class="nb-skip-forward-outline"></i></button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
