<div class="container fix-height-100">
  <div class="row fix-height-50">
    <div *ngFor="let listItem of criteriaSplitedListItems" class="col fix-height-100">
      <nb-list class="list-group">
        <nb-list-item>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="絞り込み" [(ngModel)]="listItem.filterLabelListString">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary btn-xs btn-icon" type="button" (click)="refineLabelList(listItem)">S</button>
            </div>
          </div>
        </nb-list-item>
        <nb-list-item *ngFor="let item of listItem.labelItems;let i = index" class="nb-list-item list-group-item btn-group d-flex justify-content-between">
          <button class="nb-list-item-button btn btn-xs btn-outline-primary" [class.active]="item.isActive" (click)="selectedListItem(listItem, item)">
            {{item.label.name}}</button>
        </nb-list-item>
      </nb-list>
    </div>
  </div>
  <div class="row fix-height-50">
    <div class="col fix-height-100">

      <div class="container fix-height-100">
        <div class="row fix-height-100">
          <div class="col p-0 fix-height-100">
            <div class="d-flex flex-column">
              <nb-card *ngFor="let item of categoryListPageItem; let i = index">
                <nb-card-header (click)="selectCategoryListItem(item)">{{item.category.name}}</nb-card-header>
                <nb-card-body>
                  <img class="thumbnail" src="{{item.thumbnailUrl}}" [alt]="">
                  <div *ngIf="item.category.nextDisplayContentId != null">
                    <button type="button" class="btn btn-xs btn-primary" (click)="showPreviewFromCategory(item)">途中</button>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>
          </div>
          <div class="col p-0">
            <div class="d-flex flex-wrap">
              <nb-card *ngFor="let article of contentListPageItem; let i = index">
                <nb-card-header (click)="showPreview(article, i + 1)">{{article.content.name}}</nb-card-header>
                <nb-card-body>
                  <img class="thumbnail" src="{{article.thumbnailUrl}}" [alt]="article.content.name">
                </nb-card-body>
              </nb-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
