@import '../../../@theme/styles/themes';

@include nb-install-component() {
  // レイアウトコンポーネントで使用するカラム部分の設定
  nb-layout-column {
    $ha: nb-theme(header-height);
    $hb: nb-theme(footer-height);

    height: calc(100vh - #{$ha} - #{$hb} + 1rem);
    overflow: auto;
  }

  .infopain-column {

    ::ng-deep input.form-control {
      padding: 0.2rem 0.3rem !important;
    }

    ::ng-deep textarea.form-control {
      padding: 0.2rem 0.3rem !important;
    }

    ::ng-deep .btn {
      padding: 0.2rem 0.5rem !important;
    }

    ::ng-deep .app-preview  {
      .ngb-accordion {
        max-height: 100%;
        overflow-y: scroll;

        .card-header {
          padding: 0;
          .btn {
            color: nb-theme('color-fg-heading');
          }
        }

        .card-body {
          padding: 0;
        }

      }

      .nb-list-item {
        padding: 0;

        .nb-list-item-button {
          width: 100%;
          border: none;
          text-align: left;
        }

        .nb-list-item-button-last {
          max-width:4rem;

          border-right: none;
          border-top: none;
          border-bottom: none;
          border-left: 1px solid #dfdfdf;
        }
      }
    }
  }
}
