<nb-layout>
  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>
  <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>
    <ng-content select="nb-menu"></ng-content>
  </nb-sidebar>
  <nb-layout-column>
    <as-split>
      <as-split-area size="70">
        <ng-content select="router-outlet"></ng-content>
      </as-split-area>
      <as-split-area size="30" *ngIf="viewmodel.screenStatus.pain != null" class="infopain-column">
        <ng-container *ngTemplateOutlet="viewmodel.screenStatus.pain"></ng-container>
      </as-split-area>
    </as-split>
  </nb-layout-column>
  <nb-layout-footer fixed>Contact us</nb-layout-footer>
</nb-layout>
